@import "/css/layers/index.css";

body {
	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: min(100%, 75rem);
	margin-inline: auto;
}

.main {
	display: grid;
	align-content: center;

	.breadcrumbs span {
		color: var(--text-s);
	}

	.main-title {
		color: var(--lx-color-primary);
		text-align: center;
	}

	p {
		text-align: right;
		color: var(--text-s);

		strong {
			color: var(--text);
		}
	}
}

.header {
	border-bottom: 1px solid var(--border);
}

.footer {
	border-top: 1px solid var(--border);
}
