@import "/css/layers/index.css";

body {
	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: min(100%, 75rem);
	margin-inline: auto;
	color: var(--text);
	background:
  /* 1. Акцент (верхний левый) — мягкое свечение */
		radial-gradient(
			circle at top left,
			/* Смешиваем с canvas, чтобы получить чистый тон фона, а не грязь */
			color-mix(in oklch, var(--accent) 15%, canvas) 0%,
			transparent 50%
		),
		/* 2. Успех (нижний правый) — едва заметный намёк */
		radial-gradient(
				circle at bottom right,
				color-mix(in oklch, var(--lx-color-success) 10%, canvas) 0%,
				transparent 45%
			),
		/* 3. Базовый фон */ var(--bg-color);
}

.main {
	display: grid;
	align-content: center;

	.breadcrumbs span {
		color: var(--text-s);
	}

	p {
		text-align: right;
		color: var(--text-s);

		strong {
			color: var(--text);
		}
	}
}

.main-title {
	color: var(--accent);
	text-align: center;
}

.header {
	border-bottom: 1px solid var(--border);
}

.footer {
	border-top: 1px solid var(--border);
}
